annotated-types @ file:///opt/miniconda3/conda-bld/annotated-types_1761744949290/work
anyio @ file:///Users/ec2-user/croot/anyio_1773134409226/work
blis @ file:///Users/ec2-user/croot/cython-blis_1775227516277/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161081/work
catalogue @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/catalogue_1728591731585/work
certifi @ file:///Users/ec2-user/croot/certifi_1776971118810/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832773185/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744840553/work
click @ file:///opt/miniconda3/conda-bld/click_1764332239180/work
cloudpathlib @ file:///Users/ec2-user/croot/cloudpathlib_1767787181120/work
cloudpickle @ file:///opt/miniconda3/conda-bld/cloudpickle_1764930389325/work
confection @ file:///Users/ec2-user/croot/confection_1774959605734/work
cymem @ file:///opt/miniconda3/conda-bld/cymem_1756984394410/work
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_29xjd2rw2y/croot/et_xmlfile_1756462494507/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258823/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187686/work
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005426/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
joblib @ file:///Users/ec2-user/croot/joblib_1767868079254/work
markdown-it-py @ file:///Users/ec2-user/croot/markdown-it-py_1777540561656/work
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
mdurl @ file:///opt/miniconda3/conda-bld/mdurl_1758552175942/work
murmurhash @ file:///opt/miniconda3/conda-bld/murmurhash_1764710939135/work
nltk @ file:///Users/ec2-user/croot/nltk_1775079548832/work
numpy @ file:///opt/miniconda3/conda-bld/numpy_and_numpy_base_1761922129477/work/dist/numpy-2.1.3-cp313-cp313-macosx_11_0_arm64.whl#sha256=4c992d14c10ddbd4f26e8bad419126776d5893713610c509ccb70973f73df27a
openpyxl @ file:///Users/builder/cbouss/buildout/croot/openpyxl_1739486465110/work
packaging==26.0
pandas @ file:///Users/ec2-user/croot/pandas_1775480141109/work
preshed @ file:///Users/ec2-user/croot/preshed_1766163521036/work
pycparser @ file:///Users/ec2-user/croot/pycparser_1774959671227/work
pydantic @ file:///Users/ec2-user/croot/pydantic_1776761740204/work
pydantic_core @ file:///Users/ec2-user/croot/pydantic-core_1776694923904/work
Pygments @ file:///Users/ec2-user/croot/pygments_1775127038696/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010927/work
python-dateutil @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/python-dateutil_1728585579455/work
regex @ file:///Users/ec2-user/croot/regex_1772652293390/work
requests @ file:///Users/ec2-user/croot/requests_1775066190620/work
rich @ file:///opt/miniconda3/conda-bld/rich_1760375480293/work
ruamel.yaml @ file:///opt/miniconda3/conda-bld/ruamel.yaml_1762535951282/work
ruamel.yaml.clib @ file:///opt/miniconda3/conda-bld/ruamel.yaml.clib_1762530070208/work
scikit-learn @ file:///Users/ec2-user/croot/scikit-learn_1766097934589/work
scipy @ file:///Users/ec2-user/croot/scipy_1776277851593/work/dist/scipy-1.17.1-cp313-cp313-macosx_12_0_arm64.whl#sha256=15c22e59c326770453fab758fce822036462c184a0c271800224becbf0889a7f
setuptools==82.0.1
shellingham @ file:///opt/miniconda3/conda-bld/shellingham_1761912204150/work
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
smart_open @ file:///Users/ec2-user/croot/smart_open_1770034150010/work
spacy @ file:///Users/ec2-user/croot/spacy_1775830157160/work
spacy-legacy @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/spacy-legacy_1728619217753/work
spacy-loggers @ file:///Users/ec2-user/croot/spacy-loggers_1767952418591/work
srsly @ file:///Users/ec2-user/croot/srsly_1774562626954/work
thinc @ file:///Users/ec2-user/croot/thinc_1775561483150/work
threadpoolctl @ file:///opt/miniconda3/conda-bld/threadpoolctl_1764361580435/work
tqdm @ file:///Users/ec2-user/croot/tqdm_1771398699921/work
typer==0.20.0
typer-slim==0.20.0
typing-inspection @ file:///opt/miniconda3/conda-bld/typing-inspection_1760614169744/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
ujson @ file:///opt/miniconda3/conda-bld/ujson_1763119227478/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1767810404629/work
wasabi @ file:///opt/miniconda3/conda-bld/wasabi_1757345808288/work
weasel @ file:///Users/ec2-user/croot/weasel_1775216280447/work
wheel==0.46.3
wrapt @ file:///opt/miniconda3/conda-bld/wrapt_1764243660595/work
